# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/

# Docker
*.log
.env
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/

# IDE
.vscode/
.idea/
*.swp

# Local data
postgres_data/
minio_data/
